.con1{
     display: flex;
     list-style-type: none;
     color: black;
     column-gap: 20px;
     justify-content: space-between;
}
    

.img1{
    width: 90px;
    padding: 10px;
}

.button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
}

.second{
    display: flex;
    justify-content: space-between;
    padding: 10px;
     background-color: blanchedalmond;
    color: black;
}


.name{
    display: flex;
    justify-content: space-between;
     background-color: red;
    color: black;
    padding: 10px;
}

.imgall{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.para{
    text-align: justify;
}

.image2{
     width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.image3{
     width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.last{
    background-color: blanchedalmond;
    color: black;
}

.img6{
    width: 150px;
    padding: 20px;
}

.atend{
     display: flex;
     padding: 10px;
    justify-content: space-between;
  background-color: red;
}

.v2{
     width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.text-center {
      color: brown;
}